<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    
    <nav class="nav1">
        <h1 class="heading">Encryptor</h1>
    </nav>


    <div class="input-container">



        <form action="/" method="post" id="mainform">

            <nav class="othernav">
                
                <div class="nav-left">
                    <select name="encryptionType" id="encryptionType">
                        <option value="aes">AES</option>
                        <option value="des">DES</option>
                        <option value="3des">3DES</option>
                    </select>
                </div>    

                <div class="nav-right">
                    <div onclick="changeAction('/', 'Encryptor', 'Encrypt')">Encrypt</div>
                    <div onclick="changeAction('/decrypt', 'Decryptor', 'Decrypt')">Decrypt</div>
                </div>
            </nav>


            <div class="textareas-container">
                <div class="textarea-wrap">
                    <textarea id="myText" name="text" placeholder="Enter your text here"></textarea>
                </div>
                <div class="textarea-wrap">
                    <textarea id="outputText" name="outputText" placeholder="Output will be displayed here" readonly>{{encout}}</textarea>
                </div>
            </div>
            <div class="passarea">
                <textarea id="Pass" name="Pass" placeholder="Password"></textarea>
            </div>
            
            <input id="subbtn" type="submit" value="Encrypt">
        </form>
    </div>

    <script>
    function changeAction(action, headingText, buttonText) {
        // Change form action
        document.getElementById('mainform').action = action;
        
        // Change heading text
        document.querySelector('.heading').textContent = headingText;

        // Change submit button value
        document.getElementById('subbtn').value = buttonText;
    }
    </script>
</body>
</html>